<%- include("./partials/header"); %>
<h1>Compose</h1>
<form class="" action="index.html" method="POST"> 
    <input type="text" placeholder="Type your content....">
    <button type="submit">Publish</button>
</form>
<%- include("./partials/footer"); %>